<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Splitter - Microblogging App</title>
    <div th:replace="fragments/header :: header-head" />
</head>
<body>

<div th:replace="fragments/header :: header-body" />

<div class="section no-pad-bot">
    <div class="container">
        <br /><br />
        <h1 class="header center orange-text">Welcome to Spittr</h1>
        <div class="row center">
            <h5 class="header col s12 light">Follow your interests</h5>
            <p>Instant updates from your friends</p>
        </div>
        <div class="row center">
            <a th:href="@{/spittles}" class="waves-effect waves-light btn">Spittles</a>
            <a th:href="@{/spittles/register}" class="waves-effect waves-light btn">Register</a>
        </div>
    </div>
</div>

            <!--<span th:text="'Message: ' + ${message}"></span>-->

<!-- /.container -->

<div th:replace="fragments/footer :: footer" />

</body>
</html>