<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Splitter - Microblogging App</title>
    <div th:replace="fragments/header :: header-head" />
</head>
<body>

<div th:replace="fragments/header :: header-body" />

<div class="section no-pad-bot">
    <div class="container">
        <h3 class="header center orange-text">Latest spittles</h3>
        <ul class="collection">
            <li th:each="spittle: ${spittles}" class="collection-item avatar">
                <i class="material-icons circle teal lighten-2">notifications</i>
                <a th:href="@{/spittles/}+${spittle.id}"><span class="title" th:text="${spittle.message}">Title</span></a>
                <p th:text="${spittle.time}">time</p>
                <p th:text="'(' + ${spittle.latitude}+', '+${spittle.longitude}+')'">location</p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div>
</div>

<!--<span th:text="'Message: ' + ${message}"></span>-->

<!-- /.container -->
<div th:replace="fragments/footer :: footer" />

</body>
</html>